
<h2>@ViewBag.Title</h2>
<script src="~/Scripts/CatalogJS.js"></script>
@*https://getbootstrap.com/docs/4.0/utilities/colors/*@
<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="Regulators">@L_Resources.LocolizationResource.catalog_MainCategory_Reguliators</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="ManageControl">@L_Resources.LocolizationResource.catalog_MainCategory_ManageControl</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="Switches">@L_Resources.LocolizationResource.catalog_MainCategory_switches</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="PLC">@L_Resources.LocolizationResource.catalog_MainCategory_PLC</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="SPC">@L_Resources.LocolizationResource.catalog_MainCategory_SPC</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="OperatorPanel">@L_Resources.LocolizationResource.catalog_MainCategory_OperatorPanel</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="MV">@L_Resources.LocolizationResource.catalog_MainCategory_MV</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="Communication">@L_Resources.LocolizationResource.catalog_MainCategory_Communication</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="Privod">@L_Resources.LocolizationResource.catalog_MainCategory_Privod</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="Power">@L_Resources.LocolizationResource.catalog_MainCategory_Power</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="Sensors">@L_Resources.LocolizationResource.catalog_MainCategory_Sensors</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="Softweare">@L_Resources.LocolizationResource.catalog_MainCategory_Softweare</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="OldProd">@L_Resources.LocolizationResource.catalog_MainCategory_OldProd</li>
        <li class="list-group-item" onmouseenter="pHoover_add(this)" onmouseout="pHoover_remove(this)" data-mainGroup="Meyertec">@L_Resources.LocolizationResource.catalog_MainCategory_Meyertec</li>
    </ul>
</div>
<div class="col-md-8 main_category" id="main_category">
   

</div>


