<div class="Contact">

    @*<h3>Ярослав</h3>*@
    <h3>@L_Resources.LocolizationResource.LOGO</h3>

    @*<address>
        61153, м. Харків, <br />
        вул. Гвардійців Широнінців, 3А<br />
    </address>*@
    <address>
        <strong> @L_Resources.LocolizationResource.phone:</strong>  @L_Resources.LocolizationResource.phoneNumber<br />
        <strong> @L_Resources.LocolizationResource.phone:</strong> +38 098 238 06 12<br />
        <strong> Viber / Telegramm :</strong>  @L_Resources.LocolizationResource.phoneNumber<br />

        <strong>Email:</strong> <a href="mailto:owenfast.kh@gmail.com">@L_Resources.LocolizationResource.Email</a>
    </address>
</div>
